/** header area */
.header {
  grid-area: header;
  background-color: $leaf-green;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width:60%;
    min-width:1005px;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto 1fr 30px;
    grid-column-gap:20px;
    grid-template-areas: "logo search nav";

    .logo {
      grid-area: logo;
      padding: 8px;
      box-sizing: border-box;
      a {
        text-decoration: none;
        color: $text-grey;
      }
    }
    .search {
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-area:search;
    }
    .nav {
      display: inline-block;
      list-style: none;
      grid-area:nav;
      ul{
        padding:0;
        margin:0;
        li {
          display: inline-block;
          padding: 0 1.4em 0 0;
          font-size: 0.9em;
          svg {
            font-size: 24px;
            color: $text-grey;
          }
        }
      }
    }
  }
}